:root {
    --primary-color : #ff553e;
    --secondary-color : #333;
    --white-color : #fff;
    --black-color : #000;
    --accent-color : #a1a1a1
}
@media (max-width: 1024px) {

    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 1.125rem;
        line-height: 1.5625rem;
    }

    .wrapper {
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
    }
}

@media (max-width: 991px) {

    h4 {
        font-size: 0.9375rem;
        margin-bottom: 0.625rem;
    }

    p {
        font-size: 0.875rem;
        line-height: 1.3125rem;
    }

    .text-content {
       width: 100%;
    }

    .navigation-wrap {
     text-align: right;
    }

    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
}

@media (max-width: 575px) {

    h1 {
        font-size: 1.25rem;
     
    }

    h2 {
        font-size: 1rem;
   
    }

    .text-content {
       width: 100%;
    }
}