@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:active,
:hover,
:focus {
    outline: 0 !important;
    outline-offset: 0;
}

a,
a:hover {
    text-decoration: none;
}

a:hover {
    color: var(--primary-color) !important;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

/* variables */

:root {
    --primary-color : #ff553e;
    --secondary-color : #333;
    --white-color : #fff;
    --black-color : #000;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Dosis', sans-serif;
    font-size: 100%;
    font-weight: 400;
}

/* custom scrollbar */

::-webkit-scrollbar {
    width: 0.3125rem;
}

::-webkit-scrollbar-track {
    background: var(--white-color);
}

::-webkit-scrollbar-thumb {
    background: var(--primary-color);
}

/* custom CSS design */

h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 1rem;
    text-transform: uppercase;
    color: var(--white-color);
}

h2 {
    font-size: 1.5625rem;
    font-weight: 600;
    line-height: 2.5rem;
    text-transform: capitalize;
    color: var(--white-color);
}

h4 {
    font-size: 1.125rem;
    font-weight: 400;
    margin-bottom: 0.9375rem;
    text-transform: capitalize;
    color: var(--white-color);
    transition: all .3s linear;
}

h5 {
    font-size: 0.875rem;
    font-weight: 400;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: var(--white-color);
  
}

p {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.75rem;
    color: var(--white-color);
    letter-spacing: 0.0625rem;
    opacity: 0.8;
}

.main-btn {
    height: 40px;
    line-height: 40px;
    font-size: 1.125rem;
    display: inline-block;
    color: var(--white-color);
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 30px;
    position: relative;
}

.main-btn::after,
.main-btn::before {
    top: 50%;
    left:0;
    width: 100%;
    position: absolute;
    height: 1px;
    content: "";
    transition: all .5s ease-out 0s;
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
}

.main-btn::after{
    transform: translateY(20px);
    -webkit-transform: translateY(20px);
}

.main-btn:hover::before{
    transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    background-color: var(--primary-color);
}

.main-btn:hover::after{
    transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    background-color: var(--primary-color);
}

.main-btn:hover {
    color: var(--primary-color) !important;
}

.wrapper {
    background-color: var(--secondary-color);
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.text-content {
    width: 60%;
    margin: auto;
}

/* HEADER */

.top-header {
    background-color: var(--secondary-color);

}
.top-header span{
    font-size: 0.875rem;
    color: var(--white-color);
    letter-spacing: 0.1062rem;
}

/* NAVBAR */

.navigation-wrap {
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 1000;
    transition: all 0.3s ease-out;
    -webkit-transition:all 0.3s ease-out;
}

.navigation-wrap .nav-item{
    padding: 0 0.5rem;
    transition: all 200ms linear;
}

.navigation-wrap button {
    border-color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
} 
.navigation-wrap button:focus {
    border-color: #fff;
    border: none;
    outline: none;
    box-shadow: none;
}

.navigation-wrap .nav-link {
    padding-top : 0.9375rem;
    font-size: 0.875rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.0625rem;
}


.nav-link .active{
  color: var(--primary-color);
}

.navigation-wrap .nav-link:hover{
    color: var(--primary-color);
}

/* change navbar styling on scroll */

.navigation-wrap .scroll-on {
    position: fixed;
    background-color: var(--black-color);
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0.125rem 1.7rem 1 rgb(0, 0,0, 0.9);
    transition: all .15s ease-in-out 0s;
}

.navigation-wrap.scroll-on .nav-link:hover ,
.navigation-wrap.scroll-on .nav-link:active {
    color: var(--primary-color);
}


/* banner */

#home .carousel-caption {
    top: 12rem;
}